<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Xigen_MaintenancePage::Maintenance" sortOrder="10" title="Maintenance Page">
                    <resource id="Xigen_MaintenancePage::Maintenance_save" sortOrder="10" title="Save Maintenance Page"/>
                    <resource id="Xigen_MaintenancePage::Maintenance_delete" sortOrder="20" title="Delete Maintenance Page"/>
                    <resource id="Xigen_MaintenancePage::Maintenance_update" sortOrder="30" title="Update Maintenance Page"/>
                    <resource id="Xigen_MaintenancePage::Maintenance_view" sortOrder="40" title="View Maintenance Page"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
