<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Xigen\MaintenancePage\Api\MaintenanceRepositoryInterface" type="Xigen\MaintenancePage\Model\MaintenanceRepository"/>
    <preference for="Xigen\MaintenancePage\Api\Data\MaintenanceInterface" type="Xigen\MaintenancePage\Model\Data\Maintenance"/>
    <preference for="Xigen\MaintenancePage\Api\Data\MaintenanceSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Xigen\MaintenancePage\Model\ResourceModel\Maintenance\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">xigen_maintenancepage_maintenance</argument>
            <argument name="resourceModel" xsi:type="string">Xigen\MaintenancePage\Model\ResourceModel\Maintenance\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="xigen_maintenancepage_maintenance_listing_data_source" xsi:type="string">Xigen\MaintenancePage\Model\ResourceModel\Maintenance\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
